body {
    background-image: url("../../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    color: #00165d;
    font-family: 'Open Sans', sans-serif;
}

body.flex {
    display: inherit;
    height: inherit;
}

nav {
    height: 80px;
    background-color: transparent !important;
}

.new-list-input {
    border-radius: 20px;
    border: none;
}

.new-todo-input {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    color: #f1c294;
}

.link-button, .btn-primary {
    background-color: #f1c294;
    display: block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    color: white;
    line-height: 45px;
    border-radius: 25px;
    text-transform: uppercase;
    border: 1px solid #f1c294;
}

.btn-primary {
    line-height: 30px;
    border-radius: 20px;
}

.link-button:hover, .btn-primary:hover {
    text-decoration: none;
    color: #f1c294;
    border: 1px solid #f1c294;
    background-color: white;
}

input.form-control {
    line-height: 30px;
    border-radius: 20px;
}

h1.sign {
    margin-bottom: 20px;
}

.todo-list-container {
    height: 600px;
    background-color: white;
    border-left: 1px solid #f1c294;
    margin-top: 20px;
}

.todo-list-container:first-of-type {
    border-left: none;
}

.todo-list-container h5 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #f1c294;
    opacity: 0.5;
    text-transform: uppercase;
    color: #00165d;
}

a.navbar-brand {
    font-size: 28px;
    color: #00165d;
}

a.plus-button {
    display: block;
    width: 100%;
    font-size: 30px;
    text-decoration: none;
    color: #00165d;
    text-align: center;
}

ul.todos-list {
    padding: 0 10px;
    list-style-type: none;
}

ul.todos-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

ul.todos-list li span {
    white-space: nowrap;
}

ul.todos-list li .action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

ul.todos-list li .action-container .task-checkbox {
    margin-right: 10px;
}


a.mark-button {
    position: absolute;
    right: 25px;
    top: 25px;
    transform: scale(0.5);
    cursor: pointer;
    z-index: 10;
}


.task-checkbox {
    position: relative;
}

/*label {*/
    /*border-radius: 0;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*padding: 4px !important;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*border: 1px solid #00165d ;*/
    /*background-color:  white;*/
    /*transform: translate(0, -50%);*/
/*}*/

/*label:after {*/
    /*content: '';*/
    /*width: 9px;*/
    /*height: 5px;*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 4px;*/
    /*border: 2px solid green;*/
    /*border-top: none;*/
    /*border-right: none;*/
    /*background: transparent;*/
    /*opacity: 0;*/
    /*transform: rotate(-45deg);*/
/*}*/
/*label:hover::after {*/
    /*opacity: 0.3;*/
/*}*/


/*input[type=checkbox] {*/
    /*visibility: hidden;*/
/*}*/


/*input[type=checkbox]:checked + label:after{*/
    /*opacity: 1;*/
    /*border-top: none;*/
    /*border-right: none;*/
/*}*/

.todo-mark-delete {
    transform: scale(0.6);
}

.logout-text {
    margin-bottom: 80px;
}


.logout-button {
    width: 40px;
}