<div class="container">
    <div class="button-container row justify-content-center">
        <div class="col-3">
            <a class="link-button " href="/user/signin">Zaloguj się</a>

        </div>
        <div class="col-3">
            <a class="link-button " href="/user/signup">Zarejestruj się</a>
        </div>
    </div>
</div>
