<form class="col-6 " action="/newtodo" method="POST">
    <div class="input-group">
        <input type="text" class="form-control" name="item" placeholder="Enter todo Item"><span>  <button type="submit"
                                                                                                          class="btn btn-primary">Submit</button>
</span>
    </div>
</form>
<div class="todoList">
    {{# each todoList}}
        <div class="row">
            <ul class="col-md-6">
                <li>
                    <div class="task-checkbox">
                        <input type="checkbox" class="task-list-check" value="" >
                    </div>
                    <div class="task-title">
                        <span>
                            {{this.name}}
                        </span>
                        <div class="pull-right hidden-phone">
                            <button class="btn btn-danger btn-xs">x</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {{/each}}
</div>

